<ion-header>
  <ion-toolbar>
    <ion-title>
      PatGen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of lista; let indice = index">
      <ion-label (click)="detalhe(item, indice)">
        <h4>{{item.nome}}</h4>
        <p>
          <ion-text color="medium">
            Categoria: {{item.categoria}}
          </ion-text>
        </p>
        <p>
          <ion-text color="medium">
            Descrição: {{item.descricao}}
          </ion-text>
        </p>
      </ion-label>
      <ion-icon name="trash" slot="end" (click)="excluir(indice)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab-button color="primary" class="botao_fab" href="/produto"><ion-icon name="add"></ion-icon></ion-fab-button>
</ion-content>
