<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Produto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <ion-button color="secondary" expand="block" href="/home"><ion-icon name="arrow-back"></ion-icon>Voltar</ion-button>
      <br />
    <form [formGroup]="productForm">
        <ion-label position="floating">Nome do Produto</ion-label><br />
        <ion-input formControlName="productName" type="text" value="{{item.nome}}"></ion-input>

        <ion-label position="floating">Descrição do Produto</ion-label><br />
        <ion-input formControlName="productDesc" type="text" value="{{item.descricao}}"></ion-input>
       
        <ion-label position="floating">Categoria</ion-label>
        <ion-select formControlName="productCategory" cancelText="Cancelar" okText="Selecionar" value="{{item.categoria}}">
          <ion-select-option value="eletronicos">Eletrônicos</ion-select-option>
          <ion-select-option value="roupas">Roupas</ion-select-option>
          <ion-select-option value="higiene">Higiene</ion-select-option>
          <ion-select-option value="jogos">Jogos</ion-select-option>
        </ion-select>
        <ion-button color="primary" expand="block" (click)="salvar()"><ion-icon name="create"></ion-icon> Salvar</ion-button>
    </form>
  </ion-card>
</ion-content>
